html {
    scroll-behavior: smooth;
} 
body{
    background-color: #f6f9ff;
}
header{
    position: relative;
    background-image: url("../images/background.png");
    background-size: cover;
    height: 500px;
    text-align: center;
    overflow: hidden;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
}
.nav-styling {
    width: 20% | important;
    display: inherit;
    justify-content: center;
    background-color: rgba(12, 125, 116, 0.82);
}
.dropdown-menu{
    background: transparent;
    border: none;
}
.dropdown-item{
    background: transparent;
    color: #fff;
}
.dropdown-item:hover{
    background: transparent;
    color: #0c7c73;
}
header .inspiring-quote{
    text-align: center;
    margin: 10% 10% 0 10%;
    color: #fff;
    width: 75%;
    font-size: 2rem;
}
section {
    margin: 5% 10% 0 10%;
    font-family: 'Exo 2', sans-serif;
}
.section-team .header-section {
	margin-bottom: 50px;
}
#about p {
    
    font-family: 'Exo 2', sans-serif;
}
#about2 p {
    
    font-family: 'Exo 2', sans-serif;
}
#about{
    padding-top: 40px;
}
#about2{
    padding-top: 40px;
}
#team{
    padding-top: 40px;
}
#contact {
    padding-top: 40px;
}
.header-section .title {
    font-weight: 600;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}
.section-team .person-col{
    padding: 0 50px 0 50px;
    text-align: center;
}
.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #a6cdaa,#2e5b79);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px solid #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person .person-info p a i{
    margin: 0 10px 0 10px;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}
.btn {
    border-color: #0c7c73;
}
form{
    padding-bottom: 2%;
    width: 40%;
    margin: 0 auto;
}
form div{
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    
}
footer{
    text-align: center;
    font-size: 0.7rem;
    background-color: darkcyan;
    width: 100%;
    height: fit-content;
}
footer div{
    justify-content: center;
}
footer .row{
    margin: 0;
}
footer img{
    margin-top: 50px;
    height: 25%;
    margin-right: 2%;
}
footer p{
    margin: 0;
    padding-bottom: 1%;
}